:root {
  --font-family: "Inter", sans-serif;

  --black: #171a1e;
  --error: #dc2626;
  --gray: #171a1e33;

  --sb-track-color: transparent;
  --sb-thumb-color: var(--black);
  --sb-thumb-color-hover: rgba(23, 26, 30, 0.5);
  --sb-size: 2px;
}
